<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Favoris</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 9">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Les recettes de Cybermamie</span>
      <mat-form-field floatLabel="never" style="width: 250px;margin-left:50%; ">
        <input id="searchbar" matInput placeholder="search..." [(ngModel)]="filterText"
               (ngModelChange)="search()">
      </mat-form-field>
    </mat-toolbar>
    <app-article></app-article>
  </mat-sidenav-content>
</mat-sidenav-container>
